* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    
}

.nav-div {
    position: relative;
    height: 10rem;
}
nav {
    height: 10rem;
    position: absolute;
    right: 0;
    
}
nav a {
	font-size: 1.3rem;
	display: inline-block;
	line-height: 2.4rem;
	font-weight: 400;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;
	padding: .5rem .67rem
}
nav a:hover {
	text-decoration: underline;
	opacity: .85;
}
nav img {
	cursor: pointer;
}
nav img:hover {
	opacity: .8;
}
nav button {
	border: .1rem solid #4285f4;
	font-weight: bold;
	outline: none;
	background: #4285f4;
	color: #fff;
	padding: .7rem 1.2rem;
	border-radius: .3rem;
	margin-left: .7rem;
	cursor: pointer;
    margin-right: 1rem;
}
.section-1 {
    text-align: center;
}
.section-2 {
    text-align: center;
}
.s-box {
    position: relative;
    text-align: center;
    width: 580px;
    margin: 0px auto;
}
.s-box .search-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 20px;
}
.s-box .search-voice-icon {
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 15px;
}
.s-input {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 13px;
    border-radius: 25px;
}

.s-btn {

    border: .1rem solid transparent;
	padding: .9rem 1.5rem;
	color: #666;
	font-size: 1.4rem;
	border-radius: .4rem;
	display: inline-block;
	margin-right: 1rem;
	margin-top: 2.8rem;
	outline: none;
	cursor: pointer;
}

.lang {
	margin-top: 3rem;
	text-align: center;
	font-size: 1.3rem;
	color: #111;
}
.lang a {
	margin-left: .5rem;
	color: #1a0dab;
}
.lang a:hover {
	text-decoration: underline;
}
footer {
    margin-top: 14%;
    background: #f2f2f2;
}
footer h4 {
    
	color: rgba(0,0,0, 0.54);
	font-size: 1.5rem;
	line-height: 4rem;
	font-weight: 400;
	padding-left: 3rem;
	border: 1px solid #eee;
}

footer a {
	color: #5f6368;
	display: inline-block;
	padding: 1.2 rem;
	font-size: 1.4rem;
}

.links {
	border-top: 1px solid #ddd;
	position: relative;
    background: #f2f2f2;
}
.links-1 {
    background: #f2f2f2;
    position: absolute;
	padding-left: 18.7px;
    left: 0;
}
.links-2 {
    background: #f2f2f2;
    position: absolute;
    right: 0;
	padding-right: 18.7px;
}